// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Handlee');

$family-custom: 'Handlee', cursive;
// Use the new serif family
$family-primary: $family-custom;

$blue: #1F548E;
$primary: $blue;
$info: #0495FF;

@import "bulma/sass/utilities/derived-variables";
@import "bulma/bulma";

.hidden {
  display: none !important;
}
