<% if files.present? && files.length %>
  <div class="box is-shadowless">
    <div class="buttons is-centered">
      <% files.each do |file| %>
        <a href="<%= file.file || file.url %>" class="button is-primary is-outlined is-rounded is-medium">
          <%= file.label %>
        </a>
        </li>
      <% end %>
    </div>
  </div>
<% end %>
