<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <form style="max-width: 30rem;" method="POST" action="https://formsubmit.co/aaron@utahrealty.com">
          <input type="text" name="_honey" style="display:none">
          <p class="heading">Get in Touch</p>
          <div class="field">
            <label for="name">Name <sup class="has-text-danger">*</sup></label>
            <input type="text" name="name" required class="input" />
          </div>
          <div class="field">
            <label for="_replyto">Email <sup class="has-text-danger">*</sup></label>
            <input type="email" name="email" required class="input" />
          </div>
          <div class="field">
            <label for="phone">Phone Number <sup class="has-text-danger">*</sup></label>
            <input type="tel" name="phone" required class="input" />
          </div>
          <div class="field">
            <label for="comments">Comments</label>
            <textarea name="comments" class="textarea" rows="4"></textarea>
          </div>

          <button type="submit" class="button is-primary">Submit</button>
        <form>
      </div>
      <% data.footer.columns.each do |column| %>
        <div class="column">
          <% if column.label.present? %>
            <div>
              <p class="heading"><%= column.label %></p>
            </div>
          <% end %>
          <% if column.content.present? %>
            <div class="content is-large">
              <%= markdown column.content %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <section class="section" data-controller="copyright">
      <p class="is-size-7 has-text-centered">
        Copyright (c) 2019-<span data-target="copyright.currentYear"><%= Date.today.strftime('%Y') %></span>, Realty Utah, LLC.  All rights are reserved.  No part of this website may be reproduced without the express written consent of the owner.
      </p>
    </section>

  </div>
</footer>
