<header data-controller="navbar">
  <nav class="navbar has-shadow">
    <div class="container">
      <div class="navbar-brand">
        <% link_to '/', class: 'navbar-item' do %>
          <%= image_tag data.settings.logo %>
        <% end %>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbar.button"
          data-action="navbar#toggleMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" data-target="navbar.menu">
        <div class="navbar-end">
          <% data.navigation.links.each do |link| %>
            <%= link_to link.label, link.url, class: 'navbar-item' %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
