<header>
  <nav class="navbar is-primary has-shadow">
    <div class="container">
      <div class="navbar-brand">
        <% link_to 'http://mysite.com', class: 'navbar-item' do %>
          img
        <% end %>
        <a class="navbar-item" href="#">
          <img src="" alt="" />
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
      </div>
    </div>
  </nav>
</header>
