<% if section.title.present? || section.subtitle.present? %>
  <header>
    <% if section.title.present? %>
      <p class="title is-2 is-size-3-mobile <%= 'has-text-centered' if is_centered %>"><%= section.title %></p>
    <% end %>
    <% if  section.subtitle.present? %>
      <p class="subtitle is-4 is-size-5-mobile <%= 'has-text-centered' if is_centered %>"><%= section.subtitle %></p>
    <% end %>
  </header>
<% end %>
