<section class="section">
  <div class="container">
    <%= partial 'partials/section_header', locals: { section: section, is_centered: false } %>
    <div class="content is-large">
      <%= markdown section.content %>
    </div>
    <%= partial 'partials/files_list', locals: { files: section&.files } %>
  </div>
</section>
