<section class="section">
  <div class="container">
    <%= partial 'partials/section_header', locals: { section: section } %>
    <% if section.images %>
      <div class="columns" data-controller="modal">
        <% section.images.each_with_index do |image, index| %>
          <div class="column has-content-centered">
            <figure class="image" data-action="click->modal#open">
              <%= image_tag image.image, alt: image.label, data: { index: index } %>
            </figure>
          </div>
        <% end %>
        <%= partial 'partials/image_modal', locals: { images: section.images } %>
      </div>
    <% end %>
  </div>
</section>
