<section class="section">
  <div class="container">
    <%= partial 'partials/section_header', locals: { section: section } %>
    <% if section.images %>
      <div class="columns" data-controller="modal">
        <% section.images.each_with_index do |image, index| %>
          <div class="column has-content-centered">
            <a role="button" tabindex="0" data-action="click->modal#open">
              <figure class="image">
                <%= image_tag image.image, alt: image.label, data: { index: index } %>
              </figure>
            </a>
          </div>
        <% end %>
        <%= partial 'partials/image_modal', locals: { images: section.images } %>
      </div>
    <% end %>
    <%= partial 'partials/files_list', locals: { files: section&.files } %>
  </div>
</section>
