<section class="section">
  <div class="container">
    <%= partial 'partials/section_header', locals: { section: section } %>

    <div class="menu">
      <ul class="menu-list">
        <% section&.files.each do |file| %>
          <li>
            <a href="<%= file.file || file.url %>">
              <%= file.label %>
            </a>
          </li>
      <% end %>
      </ul>
    </div>
    
  </div>
</section>
